/* Coolors Exported Palette - coolors.co/0e1116-374a67-616283-9e7b9b-cb9cf2 */

/* HSL */
$color1: hsla(218%, 22%, 7%, 1);
$color2: hsla(216%, 30%, 31%, 1);
$color3: hsla(238%, 15%, 45%, 1);
$color4: hsla(305%, 15%, 55%, 1);
$color5: hsla(273%, 77%, 78%, 1);

/* RGB */
$color1: rgba(14, 17, 22, 1);
$color2: rgba(55, 74, 103, 1);
$color3: rgba(97, 98, 131, 1);
$color4: rgba(158, 123, 155, 1);
$color5: rgba(203, 156, 242, 1);